*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background: rgb(45, 45, 45);
	font-family: 'Poppins',sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .logo_ul img {
	width: 30px;
}
@media screen and (max-width: 900px) {
    img {
		width: 30%;
    	height: 30%;
	}
    .play-video {
    	width: 50px;
		flex-basis: 100%;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
	}
}

